# MongoDB Configuration
MONGODB_CONNECTION_STRING=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&ssl=true
MONGODB_DATABASE_NAME=financial_data

# Collection Names
COLLECTION_FINANCIAL_REPORTS=financial_reports

# File Paths
CACHE_DIR=/app/cache
FINANCIAL_REPORTS_OUTPUT=/app/cache/financial_reports/financial_reports.json
BASE_DOWNLOAD_DIR=/app/cache/financial_reports/downloads

# Scraping Configuration
CHROME_URL=http://chrome:4444/wd/hub
SELENIUM_TIMEOUT=30
MAX_RETRY_ATTEMPTS=3
RETRY_DELAY=5 